<!DOCTYPE html>
<html>
<head>
  <title>Task App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
  <h1>Tasks for You</h1>
</header>

<body>

<%= yield %>

<%= render :partial => "sidebar" %>


  <h1>Tasks</h1>

  <p>Here are a few of our fine products:</p>


</body>
<footer>
  <p>
    Get rid of chaos with this simple task organizing app!
  </p>
</footer>
</html>
